<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>API_KEY</key>
	<string>AIzaSyBlexj9qYorbkWSOi6myQ_wSHyuRKQ6HYw</string>
	<key>GCM_SENDER_ID</key>
	<string>305375674891</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.tanya.videojuego</string>
	<key>PROJECT_ID</key>
	<string>unidad3-t</string>
	<key>STORAGE_BUCKET</key>
	<string>unidad3-t.firebasestorage.app</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:305375674891:ios:18c3c4fb2d27557041bd0e</string>
</dict>
</plist>